fastapi==0.109.0
uvicorn[standard]==0.27.0
python-multipart==0.0.7
pydantic==2.5.3

# GCP
google-cloud-bigquery==3.13.0
google-cloud-pubsub==2.18.4
google-cloud-storage==2.14.0
google-cloud-aiplatform==1.43.0
google-cloud-videointelligence==2.11.4
google-cloud-iot==2.5.0
vertexai==1.43.0
